body {
    width: 1px;
    min-width: 100%;
    *width: 100%;
}

.fa-user {
    margin-right: 40px;
}

#login-modal {
    background-color: #252830;
    padding-top: 150px;
}

@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
    margin-top: 100px;
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help {
    font-size: 12px;
}

#login-modal > div > div > form > input:nth-child(3) {
    width: 49%;
    display: inline;
}

#login-modal > div > div > form > input:nth-child(4) {
    width: 49%
}

.bw > div > .es.bsk > .brv > .qb.brz > div > i {
    top: -28px;
    left: -5px;
}

.bw > div > .es.bsk > .bpx.azo > .bpy.bpz > div > i {
    right: 0px;
    bottom: 0px;
    left: 0px;
    top: 0px;
    position: absolute;
    height: 33px;
    width: 33px;
    padding: 9px 3px 0px 0px;
    margin: 0;
    text-align: center;
}

#nav-toggleable-md > form > button {
    padding-left: 0px;
    margin-left: 0px;
}

.fa-fix {
    right: 15px;
}

.button-fix {
    width: 43px;
}

body > div > div.di > div.es.bsk > div > div.bpx.azo > div:nth-child(2) > div > a > div > i {
    left: -12px;
}

body > div > div.di > div.es.bsk > div > div.bpx.azo > div.bpy.bpz > div > span > i {
    left: -15px;
}

/*============================================style Ngân==============================================*/
.tbl table{
/*============================================style Ngân Đù==============================================*/
  margin-top: 50px;
}

.tbl table tr #aeph {
    padding-left: 10px;
    vertical-align: bottom;
    height: 50px;
    font-size: 20px;
    border-radius: 0 50px 0 0;
    background-color: #51586A;
    border-left: 3px solid #51586A;
    font-weight: bold;
}

.tbl table tr #aepb {
    padding: 20px 20px 20px 20px;
    border: 3px solid #51586A;
}

.tbl table tr #aepb #ipi {
    width: 100px;
}

.tbl table tr #aepb .line {
    padding-bottom: 50px;
}

.tbl table tr #aepb .submit_line {
    text-align: right;
}

.tbl table tr #aepb .line .button_submit {
    margin-top: 10px;
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.25;
    color: #fff;
    background-color: #434857;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: #434857;
}

.fa-wrench {
    margin: 0px;
    padding: 0px;
}

.fa-trash-o {
    margin: 0;
    padding: 0;
}

.tbl table tr #aepb .line .ava {
    height: 100px;
    margin-top: 10px;
}

.tbl table tr #aepb .line .ava img {
    height: 100px;
}


.header.bw > button {
    color: #1997c6;
    background: #252830;
    border: 1px solid #1997c6;
}

.header.bw {
    text-align: right;
}

body > div:nth-child(2) > div > div.es.bsk > div > div.bpx.azo > div:nth-child(2) > div {
    border: 1px solid #1997c6;
}

body > div:nth-child(2) > div > div.es.bsk > div > div.bpx.azo > div:nth-child(2) > div > a > div {
    color: #1997c6;
    background: #252830;
}

body > div:nth-child(2) > div > div.es.bsk > div > div.bpx.azo > div:nth-child(2) > div > a > div:hover {
    color: #fff;
    background-color: #1997c6;
    border-color: #1997c6;
}

body > div.header.bw > button:hover {
    color: #fff;
    background-color: #1997c6;
    border-color: #1997c6;
}

body > div:nth-child(2) > div > div.es.bsk > div > div.nu > table > thead > tr > th.header {
    white-space: nowrap;
}

.btn-log{
    background-color: #252830;
    border-color: #1997c6;
    color: #1997c6;
}

.btn-log:hover{
    background-color: #1997c6;
    border-color: #1997c6;
    color: white;
}
.alert-danger{
    background-color: #252830;
    font-size: 18px;
    color: #a94442;
    border:none;
    margin: 0; padding: 0;
    margin-bottom: 10px;
}

.alert-danger-login {
    color: #a94442;
    width: 350px;
    text-align: center;
    margin: auto;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #51586a;
    border-color: #51586a;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #51586a;
    text-decoration: none;
    background-color: #252830;
    border: 1px solid #434857;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #252830;
    border-color: #51586a;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #fff;
    background-color: #434857;
    border-color: #434857;
}

#orderForm > div{
    padding-bottom: 10px;
}

#orderForm > div.nu > div > div > input{
    padding: 0.5rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.25;
    color: #fff;
    background-color: #434857;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}